<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markpen.library.mapper.LocationMapper">

    <resultMap id="BaseResultMap" type="com.markpen.library.model.entity.Location">
            <id property="id" column="id" />
            <result property="locationName" column="locationName" />
            <result property="geolocation" column="geolocation" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,locationName,geolocation,createTime,updateTime
    </sql>
</mapper>
